// stylelint-disable scss/dollar-variable-default
$table-border-color: $color-border;
$table-cell-padding: 30px 0 23px;
$table-bg: transparent;
$table-hover-bg: transparent;
$table-dark-bg: transparent;
$table-dark-hover-bg: transparent;
